form{
    border: 2px solid grey;
    width:40%;
    height:80%;
    margin-left: 300px;
}
.grey{
    background-color:lightgrey;
    color:black;
}
#text{
    height:100px;
    width:550px;
}
@media screen and (max-width:576px){
.container{
    width: 40%;
}
}